# ---> Packer
# Cache objects
packer_cache/

# Crash log
crash.log

# Output
output*
!outputs.tf

# ---> Terraform (For testing only)
*.plan
*.tfstate*
.terraform*
*.lock.hcl

# Build system
*.stamp
stamps
vultr*.pem

priv-vars-*.hcl
