#cloud-config
ssh_pwauth: false
hostname: ${instance_hostname_short}
domain: ${instance_domain}
fqdn: ${instance_fqdn}
prefer_fqdn_over_hostname: true
manage_etc_hosts: true
users:
  - name: ${admin_name}
    doas: ["permit nopass alpine as root"]
    groups: [adm, sys, wheel]
    hased_passwd: "x"
    lock_passwd: false
    primary_group: ${admin_group}
  - name: root
    hashed_passwd: "x"
    lock_passwd: true
write_files:
  - path: /etc/periodic/daily/renew-machine-token.sh
    content: ${renew_machine_token_sh}
    encoding: gz+b64
    owner: "root:root"
    permissions: "0755"
  - path: /etc/periodic/daily/renew-system-certs.sh
    content: ${renew_certs_sh}
    encoding: gz+b64
    owner: "root:root"
    permissions: "0755"
  - path: /root/unwrap-machine-token.sh
    content: ${unwrap_machine_token_sh}
    encoding: gz+b64
    owner: "root:root"
    permissions: "0700"
  - path: /etc/vault-renew/cert-renew-token-wrapper.b64
    content: ${cert_renew_token_wrapper_base64}
    encoding: gz+b64
    owner: "root:root"
    permissions: "0600"
  - path: /etc/vault-renew/client-cert-bundle.pem
    content: ${provisioning_client_cert_bundle_pem}
    encoding: gz+b64
    owner: "root:vaultcert"
    permissions: "0640"
  - path: /usr/local/share/ca-certificates/ca-private-internal.crt
    content: ${private_root_ca_cert}
    encoding: gz+b64
    owner: "root:root"
    permissions: "0644"
runcmd:
  - [/usr/sbin/update-ca-certificates]
  - [sh, '-c', '/root/unwrap-machine-token.sh && rm -f /root/unwrap-machine-token.sh']
  - [/etc/periodic/daily/renew-system-certs.sh]
  - [/etc/periodic/daily/renew-machine-token.sh]

