KEYMAPOPTS="us us"
HOSTNAMEOPTS="-n localhost"
INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
"
DNSOPTS=""
TIMEZONEOPTS="-z America/Toronto"
PROXYOPTS="none"
APKREPOSOPTS="${apk_repos}"
SSHDOPTS="-c openssh"
NTPOPTS="chrony"
DISKOPTS="-m sys /dev/vda"

